    <!-- Masthead -->
<div id="welcome">
  <header class="text-center">
    <div class="container-header">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="font font--white">Choose the equipment to build your life in city</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section-intro">
    <h3 class="text-center section-title"><span class="font--pale">找尋自己品味的商品</span></h3>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-4">
          <%= image_tag("camera.jpg", class:"images images-intro images-images--left") %>
          <h4 class="font font--pale">尋找質感</h4>
          <p class="font font--pale">上百種商品精選商品</p>
          <p class="font font--pale">找到屬於自己的質感</p>
        </div>
        <div class="col-sm-4">
          <%= image_tag("fasions.jpg", class:"images images-intro images-images--left") %>
          <h4 class="font font--pale">獨特風格</h4>
          <p class="font font--pale">24小時立即下單</p>
          <p class="font font--pale">找到屬於自己的流行</p>
        </div>
        <div class="col-sm-4">
          <%= image_tag("dream.jpg", class:"images images-intro images-images--left") %>
          <h4 class="font font--pale">建立夢想</h4>
          <p class="font font--pale">購買自己的配備</p>
          <p class="font font--pale">建立屬於自己的生活風格</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-popProducts">
    <center>
      <h3 class="text-center section-title "><sapn class="font--pale">我們向您推薦</sapn></h3>
    </center>
    <div class="container container-popProdcuts">
      <div class="row">
        <% @products_pop_1to4.each do |product| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <%= render_product_image_link(product) %>
              <div class="caption">
                <span class="text-left font--productScores">＄<%= product.price %></span>
                <span class="text-right font--productScores">點擊率<%= product.click_rate %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <center>
      <%= link_to products_path do %>
        <button class="btn btn-lg btn-goProducts">找尋更豐富的產品</button>
      <% end -%>
    </center>
  </section>
</div>
<script id="dsq-count-scr" src="http://kurt-jdstore.disqus.com/count.js" async></script>
