    <!-- Masthead -->
<header class="text-center">
  <div class="container container-header">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="font font--white">Choose the equipment to build your life in city</h1>
      </div>
      <center>
        <%= link_to products_path do %>
          <button class="btn btn-lg btn-primary">GO TO SHOP</button>
        <% end -%>
      </center>
    </div>
  </div>
</header>
<section>
  <center>
    <h3>熱門商品</h3>
  </center>
  <div class="container">
    <div class="row">
      <% @products_id_1to4.each do |product| %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <% if product.image.present? %>
              <%= image_tag(product.image.medium.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
            <% end %>
            <div class="caption">
              <h3><%= product.title %></h3>
              <div class="rwo">
                <div class="col-xs-4">
                  <span class="glyphicon glyphicon-eye-open"></span> <%= product.click_rate %>
                </div>
                <div class="col-xs-4">
                  <span class="glyphicon glyphicon-envelope"></span>
                  <div id="comment-count"><%= link_to product_path(product) do end %> </div>
                </div>
              </div>
              <br> <br>
              <%= link_to product_path(product) do %>
                <button class="btn btn-primary">了解更多...</button>
              <% end -%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<script id="dsq-count-scr" src="http://kurt-jdstore.disqus.com/count.js" async></script>
