<div class="cart">
  <div class="container">
    <h2>我的購物車</h2>
    <%= link_to("清空購物車", clean_carts_path ,
              method: :delete , class: "pull-right clean_cart",
              data: { confirm: "你確定要清空整個購物車嗎？"} )%>
    <div style="clear:both;"></div>
    <div class="cart-list text-center">
      <div class="cart-list-tops">
        <div class="row">
          <div class="col-xs-4">商品資訊</div>
          <div class="col-xs-2">單價</div>
          <div class="col-xs-2">數量</div>
          <div class="col-xs-2">小計</div>
          <div class="col-xs-2"></div>
          <div style="clear:both;"></div>
        </div>
      </div>
      <% current_cart.cart_items.each do |cart_item| %>
        <div class="cart-list-item">
          <div class="row">
            <div class="col-xs-4">
              <%= render_production_image(cart_item.product) %>
            </div>
            <div class="col-xs-2 cart-list-item-data">
              <%= cart_item.product.price %>
            </div>
            <div class="col-xs-2 cart-list-item-data">
              <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f| %>
                <%= f.select :quantity, 1..cart_item.product.quantity %>
                <%= f.submit "更新", class: "btn btn-sm btn-primary", data: { disable_with: "更新中..." } %>
              <% end %>
            </div>
            <div class="col-xs-2 cart-list-item-data"><%= render_item_total_price(cart_item) %></div>
            <div class="col-xs-2 cart-list-item-data">
              <%= link_to cart_item_path(cart_item.product_id), class: "btn btn-sm btn-danger", method: :delete do %>
                移出購物車
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="total clearfix">
      <span class="pull-right">
        <h4>
          總計 <%= render_cart_total_price(current_cart) %> NTD
        </h4>
      </span>
    </div>
    <div class="checkout clearfix">
      <%= link_to("確認結帳", checkout_carts_path(current_cart), method: :post, class: "btn btn-lg btn-warning pull-right") %>
    </div>
    <hr>
  </div>
</div>
