<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="searchBar">
          <div class="searchBar__block">
            <%= search_form_for @q ,class: "searchBar-form" do |f| %>
              <div class="input-group">
                <%= f.search_field :title_cont, class: "form-control", placeholder: "搜尋商品名稱" %>
                <span class="input-group-btn">
                  <%= f.submit "搜尋", class: "btn btn-default" %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="searchBar__block">
            <h4>商品分類：</h4>
            <ui>
              <li>電腦,筆電,平板</li>
              <li>耳機,鍵盤等周邊</li>
              <li>辦公桌辦公室小物</li>
            </ui>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9">
        <% @products.each do |product| %>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <%= link_to product_path(product) do %>
              <div class="thumbnail">
                <div class="caption">
                  <h4><%= truncate(product.title, length: 10) %></h4>
                  <div class="indexPic">
                    <%= render_production_image(product) %>
                  </div>
                  <p>$ <%= product.price %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
